div{
    padding: 5px 0px 5px 0px;
    /*width: 1000px;*/
    /*padding top right bottom left*/
}

label.field{
    width: 200px;
    text-align: left;
    float: left;
    font-weight: bold;
}

table{
    /*margin: 0 auto;*/
    /*align-content: center;*/
    /*align-self: center;*/
}

h1{
    text-align: center;
}

label.genderFlabel{
    width: 100%;
    display: inline-block;
    text-align: right;
    /*background-color:#eee;*/
}

.wrapper {
    text-align: center;
    padding-top: 20px;
}
